.Q{
    color: blue;
}
.sticky {
	background-color:#434343;
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:15px 22px;
	text-decoration:none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    
}