.Q{
    color: blue;
}
#general, #frontEnd, #rgpd,#english, #archi, #symfony, #uxUi, #poo{
    color: green;
}
#seo, #securite, #gestionProjet, #modelBdd{
    color: red;
}
#generalN, #frontEndN, #rgpdN,#englishN, #archiN, #uxUiN, #symfonyN,  #pooN{
    color: green;
}
#seoN, #securiteN, #gestionProjetN, #modelBddN{
    color: red;
}
.sticky {
	background-color:#434343;
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:15px 22px;
	text-decoration:none;
    position: fixed;
    bottom: 20px;
    right: 40px;

}